@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

@theme {
  --color-white: #FFFFFF;
  --color-dark-blue: #0F172A;
  --color-accent-yellow: #2563EB;
  --color-light-gray: #E5E7EB;
  --color-cod: #F8FAFC;

  --font-roboto: 'Roboto', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}
